* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e7d7c1;
}

.container {
    width: 800px;
    margin: 16px auto;
}

h1 {
    color: #8c1c13;
    font-size: 3rem;
    font-weight:900;
}

h2, h3, h4, strong {
    color: #bf4342;
    font-weight: 700;
}

p {
    color: #443631;
    width: 72ch;
}

nav a {
    display: block;
    width: 400px;
    margin: 24px auto;
    border-radius: 8px;
    background-color: #735751;
    text-align: center;
    text-decoration: none;
    padding: 16px 32px;
    color: #fff;
}

a {
    color: #735751;
    font-weight: 700;
}

ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

li {
    font-size: 1.2rem;
}

.steps {
    line-height: 1.6rem;
    width: 72ch;
}
